# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
.vercel/
.expo/
web-build/

# Environment variables
.env
.env*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Testing
coverage/
*.lcov

# TypeScript
*.tsbuildinfo

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Misc
.turbo/
.cache/

